$darkBlueColor: #2c3e50;
$darkBlue2: #3a4a5d;
$darkBlue3: #1b2838;
$darkBlueColorRGBA: rgba(44, 62, 80, 0.8);
$blueColor: #1894ff;
$blueColorRGBA: rgba(24, 148, 255, 0.5);

@mixin skewY($val){
  -webkit-transform: skewY($val);
  -moz-transform: skewY($val);
  -ms-transform: skewY($val);
  -o-transform: skewY($val);
  transform: skewY($val);
}
@mixin skewX($val){
  -webkit-transform: skewX($val);
  -moz-transform: skewX($val);
  -ms-transform: skewX($val);
  -o-transform: skewX($val);
  transform: skewX($val);
}
@mixin border-radius($val){
  -webkit-border-radius: $val;
  -moz-border-radius: $val;
  -o-border-radius: $val;
  -ms-border-radius: $val;
  border-radius: $val;
}
@mixin rotateZ($val){
  -webkit-transform:rotate($val);
  -moz-transform:rotate($val);
  -o-transform:rotate($val);
  -ms-transform:rotate($val);
  transform:rotate($val);
}
@mixin rotateY($val){
  -webkit-transform:rotateY($val);
  -moz-transform:rotateY($val);
  -o-transform:rotateY($val);
  -ms-transform:rotateY($val);
  transform:rotateY($val);
}
@mixin scaleX($val){
  -webkit-transform:scaleX($val);
  -moz-transform:scaleX($val);
  -o-transform:scaleX($val);
  -ms-transform:scaleX($val);
  transform:scaleX($val);
}
@mixin scale($val){
  -webkit-transform:scale($val);
  -moz-transform:scale($val);
  -o-transform:scale($val);
  -ms-transform:scale($val);
  transform:scale($val);
}
@mixin translateY($val){
  -webkit-transform:translateY($val);
  -moz-transform:translateY($val);
  -o-transform:translateY($val);
  -ms-transform:translateY($val);
  transform:translateY($val);
}
@mixin translateX($val){
  -webkit-transform:translateX($val);
  -moz-transform:translateX($val);
  -o-transform:translateX($val);
  -ms-transform:translateX($val);
  transform:translateX($val);
}
@mixin transition($for: all , $time: 0.5s, $func: ease-in-out, $delay: 0s){
  -webkit-transition: $for $time $func $delay;
  -moz-transition: $for $time $func $delay;
  -o-transition: $for $time $func $delay;
  -ms-transition: $for $time $func $delay;
  transition: $for $time $func $delay;
}
@mixin transform($value){
  -webkit-transform: $value;
  -moz-transform: $value;
  -o-transform: $value;
  -ms-transform: $value;
  transform: $value;
}
@mixin transform-origin($value){
  -webkit-transform-origin: $value;
  -moz-transform-origin: $value;
  -o-transform-origin: $value;
  -ms-transform-origin: $value;
  transform-origin: $value;
}
@mixin shadow($val){
  -webkit-box-shadow: $val;
  -moz-box-shadow: $val;
  -o-box-shadow: $val;
  -ms-box-shadow: $val;
  box-shadow: $val;
}
@mixin backgroundImg($url , $x: center , $y: center, $position: scroll){
  background: url($url) $x $y no-repeat $position;
  background-size: cover;
}
@mixin mainShadow1 () {
  -webkit-box-shadow: 0 0 25px 1px $darkBlue3;
  -o-box-shadow: 0 0 25px 1px $darkBlue3;
  -moz-box-shadow: 0 0 25px 1px $darkBlue3;
  box-shadow: 0 0 25px 1px $darkBlue3;
}
@mixin mainShadow2 () {
  -webkit-box-shadow: 0 0 15px 0px $darkBlue3;
  -o-box-shadow: 0 0 15px 0px $darkBlue3;
  -moz-box-shadow: 0 0 15px 0px $darkBlue3;
  box-shadow: 0 0 15px 0px $darkBlue3;
}